* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}
body {
    background-image: url('/img/background-01.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.intro h1{
    color: #E58302;
    text-align: center;
    font-size: 40px;
    margin-top: 2%;
}
.intro h3{
    color: #EA9C35;
    text-align: center;
    font-size: 20px;
}
.board{
    color: #5A0998;
    margin: auto ;
    margin-bottom: 2%;
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;*/
    max-width: 500px; 
    box-sizing: border-box;
}

.board > div {
    border: 3px solid #402707;
    min-width: 78px;
    min-height: 78px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 2%;
    font-size: 55px;
    font-weight: bold;
}

.control{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.control > button{
    padding: 15px 22px;
    text-align: center;
    font-size: 16px;
}

#clear {
  background-color: #E58302;
  color: #052679;
  cursor: pointer;
  font-weight:bold;
}

#reset{
    background-color: #052679;
    color: #E58302;
    cursor: pointer;
    font-weight:bold; 
}

.winner{
    color:#E58302;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.turn{
    color:#E58302;
    text-align: center;
    font-size: 16px;
    margin-top: 2%;
}

.playerX{
    color: #5A0998;
    font-weight: bold;
}

.playerO{
    color: #13AF35;
    font-weight: bold;
}

.scoreO{
   padding-left: 5%;
   font-size: 30px; 
}

.scoreX{
    padding-right: 5%;
    font-size: 30px; 
}

.matrixInput{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 60px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding:5px 5px 5px 5px;
  text-align: center;
  color: #5A0998;
  font-weight: bold;
  margin-right: 1%;
  
}

#start{
    padding: 5px 5px;
    text-align: center;
    font-size: 14px;
    background-color: #13AF35;
    color:white;
    font-weight: bold;
    margin-left: 1%;
}